<table id="virtualcard" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
          <!--<th><input class="check-all" type="checkbox"/></th>-->
		  <th style="width:300px;">卡券号</th>
		  
		  <th>内部单号</th>
		  <th>中行单号</th>
          <th>创建时间</th>
          <th>最后更新时间</th>
          <th>状态</th>
          <!--<th>操作</th>-->
        </tr>
    </thead>
    <tbody>
<notempty name="datas">
	<volist name="datas" id="vo">
	<tr>
      
                    <!--<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>-->
					<td>{$vo.coupon_sn}</td>
                    <td>{$vo.inner_order_sn}</td>
                    <td>{$vo.out_order_sn}</td>
					<td>{$vo.create_time}</td>
                    <td>{$vo.lastupdate_time}</td>
					<td><if condition="$vo.status eq 1">已使用<elseif condition="$vo.cstatus eq 2"/>已退货<else/></if></td>
		<!--<td>
		    <span class="btn btn-xs btn-primary mySave" data-toggle="modal" data-id="{$vo.id}" data-url="{:U('/Admin/Role/update')}"><span class="glyphicon glyphicon-edit margin-r-2" aria-hidden="true"></span>修改</span>
		   <a class="confirm ajax-get btn btn-xs btn-primary" href="{:U('/Admin/Role/del',array('id'=>$vo['id']))}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;删除</a>
		</td>-->
	</tr>
	</volist>
<else/>
	<tr><td colspan="100" class="text-center">没有查询到数据！</td><tr>
</notempty>
<notempty name="page">
	<tr><td colspan="100" class="text-right">{$page}</td><tr>
</notempty>
    </tbody>
</table>
<script type="text/javascript">
$('#virtualcard').on('click','.check-all',function(){
	$("input[name='id[]']:checkbox").prop("checked", this.checked); 
});
</script>