<extend name="Public/base" />

<extend name="Layout/ins_page" />
 <link href="/sap/demo.css" rel="stylesheet" type="text/css" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2><if condition="$goods.id gt 0">更新商品<else/>添加商品</if></h2>     
	</div>
    
	<div class="wrapper wrapper-content">
					
	<!--<div class="page-header">
</div>-->	<form method="post" id="form_data" class="well form-horizontal" action="/index.php?s=/Admin/goods/editing" onsubmit="check_form(this)">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="name">名称：</label>
			<div class="col-sm-4">
				<input class="form-control" id="name" name="name" check="require" msg="请输入商品名称" type="text" value="{$goods.name}"/>
			</div>
		</div>
      
        <div class="form-group">
			<label class="col-sm-2 control-label" for="name">图片：</label>
			<div class="col-sm-4">
				<img id="simg" class="group-picture" width="100px" height="100px" src="{$goods.pic_url}" alt="商品图片" ><br>  
		        	<a href="javascript:;" class="a-upload" onClick="$('#group-picture').click()" > 选择 </a>
		            <input type="file" id='group-picture' name="group-picture" id="group-picture" style="display: none;">  
		  			<input  name="pic_url" id='logo-input' type="hidden"  value="{$goods.pic_url}"/>
			</div>
		</div>
       
		<div class="form-group">
			<label class="col-sm-2 control-label" for="company">编号：</label>
			<div class="col-sm-4">
				<input class="form-control" id="sequence" name="sequence" type="text"  value="{$goods.sequence}"/>
			</div>
            <label class="col-sm-3 control-label" for="company"><font color="#FF0000">（商品sap编号）</font></label>
            <div class="col-sm-3"></div>
		</div>
        
        <!--<div class="form-group">
			<label class="col-sm-2 control-label" for="dept">品牌：</label>
			<div class="col-sm-4">
				<select name="brand_id" class="form-control">
                             <option  value="">请选择商品品牌</option>
                             <volist name="brand" id="vo">
                             <option  value={$vo.id} <if condition="$goods['brand_id'] eq $vo['id']">selected</if> >{$vo.brand_name}</option>
                            </volist>
                            </select>
			</div>
		</div>-->
        
		
        
      
        <div class="form-group">
			<label class="col-sm-2 control-label" for="expire">有效期：</label>
			<div class="col-sm-4">
				<input  name="expire"  id="expire" class="form_datetime form-control"  <if condition="$goods.expire gt 0">value="{:date('Y-m-d',$goods['expire'])}"</if> />
			</div>
		</div>
        
        <div class="form-group">
			<label class="col-sm-2 control-label" for="price">售价：</label>
			<div class="col-sm-4">
				<input  name="price" class="form-control" id="price"  type="text" value="{$goods.price}"/>
			</div>
            <label class="col-sm-3 control-label" for="company"><font color="#FF0000">（售价，以元为单位）</font></label>
            <div class="col-sm-3"></div>
		</div>
        
        <div class="form-group">
			<label class="col-sm-2 control-label" for="integral">积分：</label>
			<div class="col-sm-4">
				<input  name="integral" class="form-control" id="integral"  type="text" value="{$goods.integral}"/>
			</div>
		</div>
        
         <div class="form-group">
			<label class="col-sm-2 control-label" for="settle_price">结算价：</label>
			<div class="col-sm-4">
				<input  name="settle_price" class="form-control" id="settle_price"  type="text" value="{$goods.settle_price}"/>
			</div>
            <label class="col-sm-3 control-label" for="company"><font color="#FF0000">（结算价，以元为单位。）</font></label>
            <div class="col-sm-3"></div>
		</div>
        <!--<div class="form-group">
			<label class="col-sm-2 control-label" for="position">预警库存：</label>
			<div class="col-sm-4">
				<input name="stock" class="form-control" id="caution_stock" type="text" value="{$goods.caution_stock}"/>
			</div>
            <div class="col-sm-6">
              <font color="#FF0000">值为0时不进行库存预警。</font>
            </div>
		</div>-->
        <div class="form-group">
			<label class="col-sm-2 control-label" for="dept">类型：</label>
			<div class="col-sm-4">
				<select name="type" class="form-control">
                             <option  value="1" <if condition="$goods.type eq 1">selected</if> > 现金券</option>
                             <option value="2" <if condition="$goods.type eq 2">selected</if> > 积分券</option>
                             <option value="3" <if condition="$goods.type eq 3">selected</if> > 积分+现金</option>
                            </select>
			</div>
		</div>
        
        
         <div class="form-group">
			<label class="col-sm-2 control-label" for="dept">平台名称：</label>
			<div class="col-sm-4">
				<select name="platform" class="form-control">
                             <option  value="1" <if condition="$goods.platform eq 1 ">selected</if> >中行缤纷生活</option>
                             <option  value="2"  <if condition="$goods.platform eq 2 ">selected</if> >中行BCSP卡券</option>
							 <option  value="3"  <if condition="$goods.platform eq 3 ">selected</if> >缤纷生活实物兑换券</option>
                </select>
			</div>
		</div>
        
        <div class="form-group">
			<label class="col-sm-2 control-label" for="integral">BCSP编码：</label>
			<div class="col-sm-4">
				<input  name="bcsp_goods_code" class="form-control" id="bcsp_goods_code"  type="text" value="{$goods.bcsp_goods_code}"/>
			</div>
		</div>
         <!--<div class="form-group">
			<label class="col-sm-2 control-label" for="dept">平台名称：</label>
			<div class="col-sm-4">
				<select name="platform" class="form-control">
                             <option  value="1" <if condition="$goods.platform eq 1">selected</if> > 缤纷生活</option>
                             <option value="2" <if condition="$goods.platform eq 2">selected</if> > BCSP卡券</option>
                </select>
			</div>
		</div>
        
        
        <div class="form-group">
			<label class="col-sm-2 control-label" for="dept">BCSP商品编号：</label>
			<div class="col-sm-4">
				<select name="platform" class="form-control">
                             <option  value="1" <if condition="$goods.platform eq 1">selected</if> > 缤纷生活</option>
                             <option value="2" <if condition="$goods.platform eq 2">selected</if> > BCSP卡券</option>
							 <option value="3" <if condition="$goods.platform eq 3">selected</if> > 缤纷生活实物兑换券</option>
                </select>
			</div>
		</div>!-->
        
        
        <div class="form-group">
			<label class="col-sm-2 control-label" for="position">状态：</label>
			<div class="col-sm-4">
				
                             可用：<input type="radio" name="status"  value="1" <if condition="$goods.status eq 1">checked</if> />
                             不可用：<input type="radio" name="status"  value="-1" <if condition="$goods.status eq -1">checked</if> />
            
			</div>
		</div>
        
        
         <div class="form-group">
			<label class="col-sm-2 control-label" for="position">描述1：</label>
			<div class="col-sm-4">
				<textarea  class="form-control" rows="4"  name="description1">{$goods.description1}</textarea>
            
			</div>
            <label class="col-sm-3 control-label" for="company"><font color="#FF0000">（100字以内）</font></label>
            <div class="col-sm-3"></div>
		</div>
          <div class="form-group">
			<label class="col-sm-2 control-label" for="position">描述2：</label>
			<div class="col-sm-4">
				<textarea  class="form-control" rows="4"  name="description2">{$goods.description2}</textarea>
            
			</div>
            <label class="col-sm-3 control-label" for="company"><font color="#FF0000">（100字以内）</font></label>
            <div class="col-sm-3"></div>
		</div>
          <div class="form-group">
			<label class="col-sm-2 control-label" for="position">描述3：</label>
			<div class="col-sm-4">
				<textarea  class="form-control" rows="4"  name="description3">{$goods.description3}</textarea>
            
			</div>
            <label class="col-sm-3 control-label" for="company"><font color="#FF0000">（100字以内）</font></label>
            <div class="col-sm-3"></div>
		</div>
         <div class="form-group">
			<label class="col-sm-2 control-label" for="position">描述4：</label>
			<div class="col-sm-4">
				<textarea  class="form-control" rows="4"  name="description4">{$goods.description4}</textarea>
            
			</div>
            <label class="col-sm-3 control-label" for="company"><font color="#FF0000">（100字以内）</font></label>
            <div class="col-sm-3"></div>
		</div>
        
        <div class="form-group">
			<label class="col-sm-2 control-label" for="position">描述5：</label>
			<div class="col-sm-4">
				<textarea  class="form-control" rows="4"  name="description5">{$goods.description5}</textarea>
            
			</div>
            <label class="col-sm-3 control-label" for="company"><font color="#FF0000">（100字以内）</font></label>
            <div class="col-sm-3"></div>
		</div>
        
        <div class="form-group">
			<label class="col-sm-2 control-label" for="position">描述6：</label>
			<div class="col-sm-4">
				<textarea  class="form-control" rows="4"  name="description6">{$goods.description6}</textarea>
            
			</div>
            <label class="col-sm-3 control-label" for="company"><font color="#FF0000">（100字以内）</font></label>
            <div class="col-sm-3"></div>
		</div>
         <div class="form-group">
			<label class="col-sm-2 control-label" for="position">描述7：</label>
			<div class="col-sm-4">
				<textarea  class="form-control" rows="4"  name="description7">{$goods.description7}</textarea>
            
			</div>
            <label class="col-sm-3 control-label" for="company"><font color="#FF0000">（100字以内）</font></label>
            <div class="col-sm-3"></div>
		</div>
        
         <div class="form-group">
			<label class="col-sm-2 control-label" for="position">描述8：</label>
			<div class="col-sm-4">
				<textarea  class="form-control" rows="4"  name="description8">{$goods.description8}</textarea>
            
			</div>
            <label class="col-sm-3 control-label" for="company"><font color="#FF0000">（100字以内）</font></label>
            <div class="col-sm-3"></div>
		</div>
        
         <div class="form-group">
			<label class="col-sm-2 control-label" for="position">描述9：</label>
			<div class="col-sm-4">
				<textarea  class="form-control" rows="4"  name="description9">{$goods.description9}</textarea>
            
			</div>
            <label class="col-sm-3 control-label" for="company"><font color="#FF0000">（100字以内）</font></label>
            <div class="col-sm-3"></div>
		</div>
        
          <div class="form-group">
			<label class="col-sm-2 control-label" for="position">描述10：</label>
			<div class="col-sm-4">
				<textarea  class="form-control" rows="4"  name="description10">{$goods.description10}</textarea>
            
			</div>
            <label class="col-sm-3 control-label" for="company"><font color="#FF0000">（100字以内）</font></label>
            <div class="col-sm-3"></div>
		</div>
        
		<div class="form-group">
			<div class="action col-sm-6 col-sm-offset-2">
                <input type="hidden" name="id" id="id" value="{$goods.id}" />
				<input class="btn btn-sm btn-primary" value="保存" type="submit" type="button">
			</div>
		</div>
	</form>

				</div>
</block>

<block name="script">
 <script type="text/javascript">
     
		$("#expire").datetimepicker({
    format: 'yyyy-mm-dd',
    minView:'month',
    language: 'zh-CN',
    autoclose:true,
    startDate:new Date(),
	format: "yyyy-mm-dd"  
  });
 function check_form(frm)
{
	  var name=$("input[name='name']").val();
	  var sequence=$("input[name='sequence']").val();
	  if (name.length <1)
	  {
		 msg += "商品名称不能为空" + '\n';
	  }
	  if (sequence.length < 1)
	  {
		msg += "商品编号不能为空"+ '\n'
	  }
	  if (msg.length > 0)
	  {
		alert(msg);
		return false;
	  }
	  else
	  {
		frm.submit();
		return true;
	  }
}
$(function(){
            $("#group-picture").change(function(event) {
                var img=event.target.files[0];
                if(!img){
                    return false;
                }
                if(!(img.type.indexOf('image')==0 && img.type && /\.(?:jpg|png|gif)$/.test(img.name)) ){
                    gritter('图片只能是jpg,gif,png');
                    return false;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                     $.post("/upload.php", {from:'goods',imga:e.target.result},function(ret){
                        if(ret.img!=''){
                            console.log('upload success');
                            document.getElementById('simg').src = ret.picUrl;
                            //mini.get('logo-input').setValue(ret.picUrl);
							$("#logo-input").val(ret.picUrl);

                        }else{
                            console.log('upload fail');
                        }
                    },'json');
                }
            });
        });
</script>
</block>
<block name="css">
<style type="text/css">
.col-sm-1 {
    width:auto;
}
</style>
</block>
