<table id="users" class="table table-bordered table-hover table-striped">

    <thead>
        <tr>
          
                    <!--<th>商品编号</th>
                    <th>商品名</th>
					<th>商品类型</th>
					<th>售价</th>
					<th>上传中行数量</th>
                    <th>状态</th>!-->
                    <th>批次号</th>
                    <th>总数量</th>
                    <th>状态</th>
                    <th>操作</th>
            <!--<th>操作</th>-->
        </tr>
    </thead>
    <tbody>
<notempty name="datas">
	<volist name="datas" id="vo">
	<tr>
	                
					<td>{$vo.batch_no}</td>
                    <td><a href="javascript:void(0);" class="btn_show" batchNO="{$vo.batch_no}" >{$vo.count}</a></td>
                    <td><if condition="$vo.isupload eq 1">已上传<else/>未上传</if></td>
                    <th><if condition="$vo.isupload lt 1"><a href="{:U('/Admin/Goods/index')}" >增加卡券</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('/Admin/Purchase/export',array('batch_no'=>$vo['batch_no']))}" >上传银行</a></if></th> 
                    
                    <!--<th><a href="javasctipt:void(0)"  onclick="submit_goods('{$vo.sequence}')">上传中行</a></th>->
                   
		<!--<td>
		    <span class="btn btn-xs btn-primary mySave" data-toggle="modal" data-id="{$vo.id}" data-url="{:U('/Admin/Role/update')}"><span class="glyphicon glyphicon-edit margin-r-2" aria-hidden="true"></span>修改</span>
		   <a class="confirm ajax-get btn btn-xs btn-primary" href="{:U('/Admin/Role/del',array('id'=>$vo['id']))}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;删除</a>
		</td>-->
	</tr>
	</volist>
<else/>
	<tr><td colspan="100" class="text-center">没有查询到数据！</td><tr>
</notempty>
<notempty name="page">
	<tr><td colspan="100" class="text-right">{$page}</td><tr>
</notempty>
    </tbody>
</table>

